.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    margin-bottom: 28px;
}

.buttons_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.buttons_group button:last-child {
    margin-left: 12px;
}
