.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper {
    width: 600px;
    background: #ffffff;
    border-radius: 8px;
}

.header {
    padding: 28px;
    padding-left: 48px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stepNumber {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #3e75dd;
    opacity: 0.7;
}

.content {
    padding: 48px;
    padding-top: 0;
}
