.succes {
    font-size: 18px;
    line-height: 22px;
    color: #172a3f;
    margin-left: 16px;
}

.succes_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 39px;
}

.button {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button span {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: transparent;
    width: fit-content;
    background: linear-gradient(89.93deg, #ffd8ff 0.08%, #959ef1 46.14%, #6cf6ff 99.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.button span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(89.93deg, #ffd8ff 0.08%, #959ef1 46.14%, #6cf6ff 99.97%);
}

@media (min-width: 768px) {
    .succes_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .succes {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #0b1f35;
        mix-blend-mode: normal;
        opacity: 0.9;
        margin-top: 16px;
    }
}
