.field_wrapper {
    margin-bottom: 40px;
}

.field {
    background-color: transparent !important;
}

.field div {
    background-color: transparent !important;
}

.field input {
    padding-left: 0 !important;
}

.label {
    left: 0;
}

@media (min-width: 768px) {
    .field_wrapper {
        width: 348px;
    }

    .buttonWrapper {
        width: 173px;
    }
}
