.field_wrapper {
    margin-bottom: 40px;
}

.field {
    background-color: transparent !important;
}

.field div {
    background-color: transparent !important;
}

.field input {
    padding-left: 0 !important;
}

.label {
    left: 0;
}
