.bnplBody * {
    box-sizing: border-box;
}

.bnplBody *::before {
    box-sizing: border-box;
}

.bnplBody {
    margin: 0 !important;
    font-family: system-ui !important;
    overflow-x: hidden;
}

:root {
    --bnpl-lightblue: #d4edff;
    --bnpl-black: #011438;
    --bnpl-white: #ffffff;
}
