.button {
    background-color: var(--bnpl-green);
    color: var(--bnpl-white);
}

.button:hover {
    background-color: var(--bnpl-green);
    color: var(--bnpl-white);
}

.button:disabled {
    background-color: var(--bnpl-lightgreen) !important;
    color: var(--bnpl-white) !important;
}
